$('.message-container').html('');
$('#soft-delete-info-message-container').html('<p class="message-container">Instance has been soft deleted at <%= formatted_timestamp(@instance.deleted_at) %></p>');
$('.actions').html('');
