$('.message-container').html('');
$('#name-soft-delete-info-message-container').html('<p class="message-container">Name has been soft deleted at <%= formatted_timestamp(@name.deleted_at) %></p>');
$('.actions').html('');
